
    {% extends 'base.html' %} 
 {% block body_block %}
        <div class="col-md-12">
    <div class="card p-3" >
        <div class="main-header">
            <h4>
               Dailyprogressreport
               {% if view %}
               view
               {% elif edit %}
               Edit
               {% endif %}

             </h4>
         </div><hr>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
         <div class="row">
            {% for data in form %}
            <div class="col-md-12 mb-3">
                {{data.label_tag}}
              {{ data }}
            </div>
            {% endfor %}
          </div>
          {% if not view %}
          <br>
          <button type="submit" class="btn btn-primary text-white" style="float: right;">Save</button>
          {% endif %}
        </form>
    </div>
  </div>
<div class="card p-3 mt-3">
    <div class="table-responsive  mt-3">
        <table id="tableID" class="display">
            <thead style="background-color: rgb(231, 252, 231); " class="mt-3">
                <tr>
<th>task</th>
<th>report date</th>
<th>description</th>
<th>worker count</th>
<th>machinery in use</th>
<th>materials used</th>
<th>completion percentage</th>
<th>progress percentage</th>
<th>issues encountered</th>
<th>reported by</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
<td>{{data.task}}</td>
<td>{{data.report_date}}</td>
<td>{{data.description}}</td>
<td>{{data.worker_count}}</td>
<td>{{data.machinery_in_use}}</td>
<td>{{data.materials_used}}</td>
<td>{{data.completion_percentage}}</td>
<td>{{data.progress_percentage}}</td>
<td>{{data.issues_encountered}}</td>
<td>{{data.reported_by}}</td>
                    <td>
                        <a href="{% url 'dailyprogressreport_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'dailyprogressreport_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


 {% endblock %}
