
    {% extends 'base_copy.html' %} 
 {% block body_block %}
        <div class="col-md-12">
    <div class="card p-3" >
        <div class="main-header">
            <h4>
               User
               {% if view %}
               view
               {% elif edit %}
               Edit
               {% endif %}

             </h4>
         </div><hr>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
         <div class="row">
            {% for data in form %}
            <div class="col-md-12 mb-3">
                {{data.label_tag}}
              {{ data }}
            </div>
            {% endfor %}
          </div>
          {% if not view %}
          <br>
          <button type="submit" class="btn btn-primary text-white" style="float: right;">Save</button>
          {% endif %}
        </form>
    </div>
  </div>
<div class="card p-3 mt-3">
    <div class="table-responsive  mt-3">
        <table id="tableID" class="display">
            <thead style="background-color: rgb(231, 252, 231); " class="mt-3">
                <tr>
<th>first name</th>
<th>middle name</th>
<th>last name</th>
<th>dob</th>
<th>phone number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
<td>{{data.first_name}}</td>
<td>{{data.middle_name}}</td>
<td>{{data.last_name}}</td>
<td>{{data.dob}}</td>
<td>{{data.phone_number}}</td>
                    <td>
                        <a href="{% url 'user_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'user_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


 {% endblock %}
